@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.woff') format('woff');
    src: url('../fonts/vazir.woff2') format('woff2');
}